<% provide(:title, "About") %>
  <h1 class="left">About</h1>
  <div class="row">
    <div class="col-md-6">
      <p>
        <h3>The Artist Portal</h3>
        The Artist Portal is an online application that allows agents, artists
        managers, publicists, tour managers, etc to view upcoming itineraries
        for touring musicians. Administrative users can create new artist
        accounts, add shows and assign users
        viewing privileges for specific artists. Itineraries consist of a
        month summary view (available as a calendar or grid view), followed by
        individual show summaries that provide information for each upcoming
        performance.
      </p>
      <p>
        <h3>Administrative Users</h3>
        Administrative users can do the following:
        <ul>
          <li>Add & remove artists</li>
          <li>Assign artists to users</li>
          <li>Assign other administrative users</li>
          <li>Add shows</li>
          <li>View all users</li>
          <li>View all artists</li>
          <li>View all shows</li>
        </ul>
      </p>
      <p>
        <h3>Standard Users</h3>
        When a standard user logs into the application, they are brought to
        their home page with a list of their assigned artists. The user can then
         click on any of their assigned artists & view the associated itinerary.
      </p>
      <p>
        <h3>Questions?</h3>
        Feel free to reach out to
        <%= link_to 'Bill Kohler',
        'mailto:bkohler4@gmail.com?subject=Artist Portal' %>
        with any questions.
      </p>
    </div>
    <div class="col-md-6">
    </div>
  </div>
