<div class="landing-image landing_home home-image">
  <div class="center">
    <h1>Artist Portal</h1>
    <span><%= link_to 'log in', login_path %></span> /
    <span><%= link_to 'sign up', signup_path %> </span>
  </div>
</div>
